<div class="landing-page">
    <div class="question-header">
        <div class="header-wrapper">
            <h1 class="page-topic-title">Topic</h1>
            <h2 class="page-question">Buttholes - good or bad?</h2>
        </div>
    </div>



    <div class="articles">

        <!-- If you need the username of a post creator, it should be stored in item._creator.username -->

        <div class="column pro-column">
            <h2 class="column-header">Pros</h2>
            <div class="article-wrapper">
                <div class="article-block" *ngFor="let item of proData">
                    <div class="article-summary">
                        <h4>{{item.title}}</h4>
                        <p>{{item.text}}</p>
                        <a [routerLink]="['/article-page', item._id]">More Details</a>
                    </div>
                    <div class="vote-container">
                        <button class="material-icons cntr-vote" *ngIf="item.amount !== 1" (click)="incrementUpvotes(item,{amount:1})">arrow_upward</button>
                        <button class="material-icons cntr-vote cntr-active" *ngIf="item.amount === 1" (click)="incrementUpvotes(item,{amount:0})">arrow_upward</button>
                        <span class="item-score">{{item.score}}</span>
                        <button class="material-icons cntr-vote cntr-active" *ngIf="item.amount === -1" (click)="incrementUpvotes(item,{amount:0})">arrow_downward</button>
                        <button class="material-icons cntr-vote" *ngIf="item.amount !== -1" (click)="incrementUpvotes(item,{amount:-1})">arrow_downward</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="column con-column">
            <h2 class="column-header">Cons</h2>
            <div class="article-wrapper">
                <div class="article-block article-con-block" *ngFor="let item of conData">
                    <div class="article-summary">
                        <h4>{{item.title}}</h4>
                        <p>{{item.text}}</p>
                        <a [routerLink]="['/article-page', item._id]">More Details</a>
                    </div>
                    <div class="vote-container">
                        <button class="material-icons cntr-vote" *ngIf="item.amount !== 1" (click)="incrementUpvotes(item,{amount:1})">arrow_upward</button>
                        <button class="material-icons cntr-vote cntr-active" *ngIf="item.amount === 1" (click)="incrementUpvotes(item,{amount:0})">arrow_upward</button>
                        <span class="item-score">{{item.score}}</span>
                        <button class="material-icons cntr-vote cntr-active" *ngIf="item.amount === -1" (click)="incrementUpvotes(item,{amount:0})">arrow_downward</button>
                        <button class="material-icons cntr-vote" *ngIf="item.amount !== -1" (click)="incrementUpvotes(item,{amount:-1})">arrow_downward</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div>
    <form *ngIf='isLoggedIn()' [formGroup]="postForm" (ngSubmit)="addPost(postForm.value,true)">
        <h3>Add Post</h3>

        <div>
            <input type="text" placeholder="Title" formControlName="title">
        </div>
        <div>
            <input type="text" placeholder="Text" formControlName="text">
        </div>
        <button type="submit">Post</button>
    </form>

    <form *ngIf='isLoggedIn()' [formGroup]="postForm" (ngSubmit)="addPost(postForm.value,false)">
        <h3>Add Post</h3>

        <div>
            <input type="text" placeholder="Title" formControlName="title">
        </div>
        <div>
            <input type="text" placeholder="Text" formControlName="text">
        </div>
        <button type="submit">Post</button>
    </form>
</div>

<div *ngIf="!isLoggedIn()">
    <h3>You need to <a [routerLink]="['/login']">Log In</a> or <a [routerLink]="['/register']">Register</a> before you
        can add a post.</h3>
</div>