<div class="nav-wrapper">
    <h1>Counterpedia</h1>
    <ul>
        <li><a [routerLink]="['/']">Home</a></li>
        <li *ngIf="isLoggedIn()"><a>{{ currentUser() }}</a></li>
        <li class="button-primary" *ngIf="isLoggedIn()"><a href='' (click)="logOut()">Log Out</a></li> 
        <!-- ^^^href is to make it look linky^^^ -->
        <li class="button-primary" *ngIf="!isLoggedIn()"><a [routerLink]="['/login']">Log In</a></li>
        <li class="button-primary secondary-btn" *ngIf="!isLoggedIn()"><a [routerLink]="['/register']">Register</a></li>
    </ul>
</div>
