<div class="user-input-wrapper">
  <div class="site-form">
    <form [formGroup]="logInForm" (ngSubmit)="logIn(logInForm.value)">
      <h3 class="login-header">Log In</h3>

      <div>
        <p>Username</p>
        <input type="text" class="form-control site-input" formControlName="username">
      </div>
      <div>
        <p>Password</p>
        <input type="password" class="form-control site-input" formControlName="password">
      </div>
      <button class="site-login-btn" type="submit">Log In</button>
    </form>
  </div>
  <div class="user-callout">
    <p>Login to vote, post and comment.</p>
  </div>
</div>